@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
html,
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    font-family: 'Cousine', monospace;
    background: #202020;
    color: #fff;
}
#main {
    width: 100vw;
    height: 100vh;
}

body > div {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

body.phone {
    flex-direction: column;
}

body.phone > div {
    width: 100vw;
    height: 50vh;
}

/* #details {
    position: absolute;
    top: 0;
    right: -760px;
} */
#chartImage{
    display: flex;
    flex-direction: row;
}
#myDiv {
    width: 100%;
}
#chartImage {
    width: calc( 100vw - (100vw / 3) - 300px )
}
#deletes {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    padding: 15px;
}
#deletes a {
    color: inherit;
    text-decoration: none;
}
#deletes a:hover {
    text-decoration: underline;
}
#mainImage {
    width: calc( 100vw / 2 )
}
#mainImage img {
    width: 100%;
    transition: all .3s;
}
#mainImage img:hover {
    transform: scale(2) translateX(-25%) translateY(25%)
}
h2 {
    margin:0;
}
#details {
    padding-top: 20px;
}
#clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    color: #fff;
    gap: 0 !important
}
#clock-container #clock {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}
#clock-container #date {
    height: 10px;
    line-height: 10px;
    font-size: 10px;
}
#top {
    background: #111;
    color: rgba(255,255,255,.5);
    height: 40px;
    line-height: 42px;
    font-size: 15px;
    position: relative;
}
#top > div {
    display: flex;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
}
#top > div:nth-of-type(1) {
    left: 15px;
}
#top > div:nth-of-type(2) {
    left: 50%;
    transform: translateX(-50%)
}
#top > div:nth-of-type(3) {
    right: 15px;
}
#top > div.hoverable > div {
    padding: 0 15px
}
#top > div.hoverable > div:hover {
    background: rgba(255,255,255,.1)
}
#wifi_details {
    position: fixed;
    top: 40px;
    margin-left: -7.5px;
    /* right: 0; */
    background: #111;
    font-size: 10px;
    line-height: 12px;
    padding: 0;
    list-style: none;
}
#wifi_details li {
    padding: 5px 15px;
}
#wifi:not(:hover) > #wifi_details {
    display: none;
}
#power_details {
    position: fixed;
    top: 40px;
    margin:0;
    margin-left: -15px;
    /* right: 0; */
    background: #111;
    font-size: 10px;
    line-height: 12px;
    padding: 0;
    list-style: none;
}
#power_details li a {
    color: inherit;
    display:block;
    padding: 5px 15px;
    text-decoration: none;
}
#power_details li.active {
    color: #fff;
}
#power:not(:hover) > #power_details {
    display: none;
}
#container {
    display: flex;
}